/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2019, 9:42:31 PM
    Author     : Amir
*/

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
 .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
   
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*****  My Style sheet starts here, the perivois part is just set all web-browser as standard*******/

.calc-section{
    
    margin: 50px calc(50% - 200px);
    
}

p{
    text-align: center;
        
}
/*generate a two keys for the grid design because */
.double-size {
    grid-area: key1;
}

.display-digit {
    grid-area: key2;
}


.grid-container {
  display: grid;
  width:400px;
  grid-template-areas:
                'key2 key2 key2 key2'
                '. . . .'
                '. . . .'
                '. . . .'
                '. . . .'
                'key1 key1 . .';
 
  grid-gap: 1px;
  background-color: #524C4C;
  padding: 1px;
  cursor: pointer;
}

.grid-container > div  {

  width: 100px;
  height: 60px;
  text-align: center;
  padding: 20px 0px 20px;
  background-color: #B2B0B0;
  font-size: 40px;
  color: white;
 

}

.grid-container > div:hover {

    background-color: #B8B8B0;
}


.grid-container .double-size{

  width: calc(2*100px);
  height: 60px;
  background-color: #B2B0B0;
  padding: 20px 1px;
  font-size: 40px;


}

.grid-container .display-digit{

  width: calc(4*101px);
  height: 60px;
  padding: 20px 0;
  font-size: 75px;
  font-family: monospace;
  text-align: right;
  background-color: #524C4C;

}

.grid-container .key-prop1{

  background-color: #FDA25A;

}
.grid-container .key-prop2{

  background-color: #696060;
 

}